<html>
    <head>
        <title>OLD Backbone</title>
    </head>
    <body>
        <h1>OLD SPA with Backbone.js</h1>
        <div id="form1"></div>
        <button id="showform">Show a Form</button>
        
        <script type="text/template" id="form-template">
            <div class="form">
                <label><%- transcription %></label>
            </div>
            <input class="edit" value="<%- transcription %>">
        </script>

        <script src="js/lib/jquery-1.7.2.min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
        <script src="js/lib/backbone-localstorage.js"></script>

        <script src="js/OLD.js"></script>
        <script src="js/models/form.js"></script>
        <script src="js/views/forms.js"></script>
    </body>
</html>